.dropdown{
 max-width: 13em;
 position: relative;
 margin: auto; 
}

.dropdown:not(:last-of-type) {
  margin-bottom: 20px;
}

.select{
  background: #4762a1;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
} 

.select-clicked{
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover{
background: #3a558d;
}

.caret{
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #fff;
  transition: 0.3s;
}

.caret-rotate{
  transform: rotate(180deg);
}

.menu{
   background: #4762a1;
   border: 1px #363a43 solid;
   box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
   border-radius: 0.5em;
   color: #fff;
   position: absolute;
   top: 3em;
   left: 50%;
   width: 100%;
   transform: translateX(-50%);
   opacity: 0;
   display: none;
   transition: 0.2s;
   z-index: 1;
}
.menu li {
  padding: 0.6em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover{
  background: pink;
  color: #949db6;
}

.active{
  background: #23242a;
}

.menu-open{
  display: block;
  opacity: 1;
}